saves/
crash-reports/
logs/
OpenComputersMod-1.8.7-54-libjnlua54-windows-x86_64.dll
OpenComputersMod-1.8.7-52-libjnlua52-windows-x86_64.dll
OpenComputersMod-1.8.7-53-libjnlua53-windows-x86_64.dll
minetweaker.log
icon.png

.idea
.gitignore
.gitattributes