saves/
crash-reports/
logs/
OpenComputersMod-1.8.7-54-libjnlua54-windows-x86_64.dll
OpenComputersMod-1.8.7-52-libjnlua52-windows-x86_64.dll
OpenComputersMod-1.8.7-53-libjnlua53-windows-x86_64.dll
minetweaker.log
icon.png
XaeroWorldMap
XaeroWaypoints_BACKUP032021
usernamecache.json
tlauncher_profiles.json
servers.dat.bak
optionsshaders.txt
servers.dat
optionsof.txt
options.txt
launcher_profiles.json
imgui.ini
hs_err_pid8096.log
hs_err_pid13508.log
hs_err_pid11344.log
XaeroWaypoints
versions
signpic
shaderpacks
screenshots
liteconfig
libraries
cache
assets
asm
ISM
config/NEI/client.cfg
